<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcst.module.auth.server.persistence.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="EmployeeBaseResultMap" type="com.mcst.module.auth.server.persistence.model.Employee">
        <result column="id" property="id"/>
        <result column="deleted" property="deleted"/>
        <result column="insert_time" property="insertTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="login_name" property="loginName"/>
        <result column="name" property="name"/>
        <result column="mobile" property="mobile"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="email" property="email"/>
        <result column="header_pic" property="headerPic"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="position" property="position"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="roles" property="roles"/>
        <result column="roles_name" property="rolesName"/>
        <result column="work_status" property="workStatus"/>
        <result column="platform" property="platform"/>
        <result column="manage_area" property="manageArea"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Employee_Base_Column_List">
        id
        ,
            deleted,
            insert_time,
            last_update_time,
        login_name, name, mobile, password, status, email, header_pic, department_id, department_name, position, shop_id, shop_name, roles, roles_name, work_status, platform, manage_area, type
    </sql>

</mapper>
